body {
	background-color:  #00AEE8;
}

h1 {
	color: #D60000;
	text-align: center;
}
h2{
	color: #D60000;
}

p{
	width: 30%;
	font-size: 24px;
}
ul {
	font-size: 24px;
	width: 40%;
}
img {
	min-height: 20px;
	min-width: 40px;
	max-width: 40%;
	max-height: 50%;
	display: inline-block;
	background-color: white;
}
